* {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.8); /* White transparent */
  color: rgb(24, 24, 24);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 12vh; /* Default height */
  transition: all 0.3s ease;
  backdrop-filter: blur(10px); /* For smooth transparency effect */
}

.scrolled {
  background-color: #ffffff; /* Opaque white */
  height: 8vh; /* Reduced height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for separation */
}

.heading {
  margin: 0;
  max-width: 100px;
  cursor: pointer;
}

.navlinks {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.list {
  padding: 8px;
}

.anchor {
  color: rgb(27, 26, 26);
  text-decoration: none;
  font-size: 1.2rem;
}

.anchor:hover {
  color: rgb(245, 43, 43);
}

.menuicon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 680px) {
  .navlinks {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: #333;
    width: 100%;
    height: calc(100vh - 4rem);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .anchor{
    color: white;
  }

  .mobile {
    transform: translateX(0);
  }

  .menuicon {
    display: block;
  }

  .list {
    text-align: center;
    padding: 1rem;
  }
}
